<footer>
    <div class="container">
        <p>
            Made with <img src="../../../assets/icons/heart.gif" height="20"> by <a
                href="https://twitter.com/hi_siddhardha" target="_blank"> <img src="../../../assets/icons/twitter.gif"
                    height="20"> Siddhardha</a>
        </p>
        <ul class="list-unstyled">
            <li routerLink="/privacy-policy">
                Privacy Policy
            </li>
            <li routerLink="/terms">
                Terms
            </li>
            <li>
                <!-- mailto: hi.siddhardha@gmail.com -->
                <a href="mailto:hi.siddhardha@gmail.com?subject=Feedback for cofinds" target="_blank">
                    I would love your feedback
                </a>
            </li>
        </ul>
    </div>
</footer>