<h1 mat-dialog-title>
    Add Agent
</h1>
<div mat-dialog-content>
    <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first_name" placeholder="Ex. John">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name" placeholder="Ex. Doe">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. john@abc.com">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Ex. 123456">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Assign Departments</mat-label>
                <mat-select formControlName="assigned_departments" multiple>
                    <mat-option *ngFor="let department of departments" [value]="department._id">
                        {{department.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- select view_only -->
            <mat-form-field>
                <mat-label>View Only</mat-label>
                <mat-select formControlName="view_only">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <div class="submit-btn-wrapper">
                <button mat-raised-button color="primary" [disabled]="form.invalid || form.disabled" *ngIf="!edit_mode">
                    <mat-icon>
                        add
                    </mat-icon>
                    Add User
                </button>
                <button mat-raised-button color="primary" [disabled]="form.invalid || form.disabled" *ngIf="edit_mode">
                    <mat-icon>
                        edit
                    </mat-icon>
                    Update User Details
                </button>
            </div>

        </form>
    </div>
</div>