<h1 mat-dialog-title>
    <span *ngIf="edit_mode">
        Edit Department
    </span>
    <span *ngIf="!edit_mode">
        Add Department
    </span>
</h1>
<div mat-dialog-content>
    <div class="form-wrapper">
        <form [formGroup]="form" (ngSubmit)="addDepartment()">
            <mat-form-field appearance="outline">
                <mat-label>Department Name</mat-label>
                <input matInput formControlName="name" placeholder="Ex. Sales, Marketing, etc." name="name" required>
                <mat-error *ngIf="form.get('name')?.hasError('required')">
                    Department name is required
                </mat-error>
            </mat-form-field>
            <div class="submit-btn-wrapper">
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>
                        save
                    </mat-icon>
                    <span *ngIf="edit_mode">
                        Update Department
                    </span>
                    <span *ngIf="!edit_mode">
                        Add Department
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>