<div class="page-wrapper auth-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-wrapper">
                    <div class="logo-wrapper" routerLink="/">
                        <img src="../../../assets/logo/logo-cropped.png" alt="">
                    </div>
                    <h1>
                        Reset Password
                    </h1>
                    <p>
                        An OTP has been sent to your email address. Please enter the OTP to reset your password.
                    </p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="label-wrapper">
                            <label>
                                <p>OTP</p>
                            </label>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>
                                <mat-icon>key</mat-icon>
                            </mat-label>
                            <input matInput entrepreneurs="OTP" type="text" formControlName="otp" name="otp" required>
                            <mat-error *ngIf="form.get('otp')?.hasError('required')">
                                OTP is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <div class="label-wrapper">
                            <label>
                                <p>Password</p>
                            </label>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>
                                <mat-icon>key</mat-icon>
                            </mat-label>
                            <input matInput entrepreneurs="OTP" type="password" formControlName="password"
                                name="password" required>
                            <mat-error *ngIf="form.get('password')?.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <div class="label-wrapper">
                            <label>
                                <p>
                                    Confirm Password
                                </p>
                            </label>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>
                                <mat-icon>key</mat-icon>
                            </mat-label>
                            <input matInput entrepreneurs="OTP" type="password" formControlName="confirm_password"
                                name="confirm_password" required>
                            <mat-error *ngIf="form.get('confirm_password')?.hasError('required')">
                                Confirm password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <button class="submit-btn" mat-raised-button color="primary" type="submit"
                            [disabled]="form.invalid">
                            Reset Password
                        </button>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <p>
                            Don't have an account? <a routerLink="/register">Register</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="lottie-wrapper">
                    <ng-lottie [options]="options"></ng-lottie>
                </div>
                <div class="tip-wrapper" *ngIf="tip">
                    <div class="tip-img-wrapper">
                        <mat-icon>
                            tips_and_updates
                        </mat-icon>
                    </div>
                    <h3 class="tip-title">
                        Tip: {{ tip.title }}
                    </h3>
                    <p class="tip-description">
                        {{ tip.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>