<div class="nbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="logo-wrapper" routerLink="/">
                    <img src="../../../assets/logo/logo-cropped.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li routerLink="/login">
                        Login
                    </li>
                    <li routerLink="/register">
                        Register
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>