<h1 mat-dialog-title>
    Are you sure you want to log out?
</h1>

<mat-dialog-content>
    <p>
        You will be logged out of the application.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [mat-dialog-close]="false">
        <mat-icon>
            close
        </mat-icon>
        Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true">
        <mat-icon>
            logout
        </mat-icon>
        Logout
    </button>
</mat-dialog-actions>