a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  font-size: 90%;
  color: #252525;
  vertical-align: middle;
  mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }
  mat-icon,
  span {
    font-size: 14px;
  }
}
