.submit-btn-wrapper {
  margin-top: 20px;
  width: 100%;
  button {
    width: 100%;
  }
}

.show_loading_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
