<div class="page-wrapper auth-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-wrapper">
                    <div class="logo-wrapper" routerLink="/">
                        <img src="../../../assets/logo/logo-cropped.png" alt="">
                    </div>
                    <h1>
                        Forgot Password?
                    </h1>
                    <p>
                        Enter your email address to reset your password.
                    </p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="label-wrapper">
                            <label>
                                <p>Email</p>
                            </label>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>
                                <mat-icon>email</mat-icon>
                            </mat-label>
                            <input matInput entrepreneurs="Email" type="email" formControlName="email" name="email"
                                required>
                            <mat-error *ngIf="form.get('email')?.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <button class="submit-btn" mat-raised-button color="primary" type="submit"
                            [disabled]="form.invalid">
                            Send OTP
                        </button>
                        <br>
                        <br>
                        <hr>
                        <br>
                        <p>
                            Don't have an account? <a routerLink="/register">Register</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>